*{
    font-family: 'Jost', sans-serif;
    margin: 0;
    padding: 0;
    
}

/* Header section start */

header{
    height: 100px;
    width: 100%;
    background-color: rgb(83, 83, 253);
    
}

header nav{
    width: 60%;
    margin: 0 auto;
}

/* Nav section start */

nav{
    display: flex;
    justify-content: space-between;
}

nav img{
    height: 50px;
    width: 50px;
}

.logo-container{
    display: flex;
    margin-top: 25px;
}

.logo-h1{
    color: white;
    margin-top: 10px;
    margin-left: 15px;
    font-size: 25px;
}

.nav-items{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.nav-items a{
    text-decoration: none;
    margin-right: 40px;
    color: white;
}


/* Nav section end */




/* Header section end */


body{
    background-color: rgb(237, 242, 242);
}

/* Top section start */

.top-sec{
    width: 60%;
    margin: 40px auto;
    padding-left: 30px;
    padding-right: 30px;
    background-color: white;
    border-radius: 7px;
}

.top-h1{
    padding-top: 30px;
    margin-bottom: 30px;
    font-size: 27px;
    color: rgb(162, 81, 239);
}
.player-container{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    gap: 10px;
    
}

.player-container img{
    height: 50px;
    width: 50px;
    
}


.player-container h3{
    display: inline-block;
}


.player-1,.player-2,.player-3,.player-4,.player-5,.player-6{
    display: flex;
    
}

.player-1,.player-2,.player-3,.player-4,.player-5,.player-6, h3{
    margin-top: 10px;
    margin-left: 15px;
}

.top-1-hr{
    margin-top: 30px;
    
}

/* Top section End */

/* Blog section start */

.top-2{
    padding-bottom: 50px;
}
.blog-container{
    display: grid;
    grid-template-columns: 50% 50%;
}

.blog-container img{
    height: 120px;
    width: 180px;
}

.uni-blg{
    display: flex;
    margin-top: 20px;
    padding-right: 50px;
}
.blg-heading{
    margin-left: 20px;
}

.blog-by{
    font-size: 20px;
    color: rgb(180, 177, 177);
}

.blog-p{
    font-size: 20px;
    color: rgb(160, 71, 244);
}
/* Blog section end */

/* Courses Section start */

.courses-sec{
    width: 60%;
    margin: 40px auto;
    padding: 30px 30px;
    background-color: white;
    border-radius: 7px;
}


.course-h1{
    color: rgb(162, 81, 239);
    font-size: 27px;
}


.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
}

.card-container img{
    margin-top: 20px;
    height: 120px;
    width: 260px;
}

.uni-card{

}

.card-h1{
    font-size: 20px;
    margin-top: 5px;
}

.red-p{
    color: tomato;
    margin-top: 10px;
}

.icon-cont i{
    color: yellow;
}

.rating{
    display: inline;
    color: gray;
    margin-left: 10px;
}

.duration{
    display: inline;
    background-color: rgb(254, 212, 204);
    border-radius: 20px;
    margin-left: 10px;
    padding: 5px 5px;
}

.duration img{
    position: relative;
    top: 4px;
    height: 20px;
    width: 20px;
}


/* Courses Section end */